
export("fixedHajnal.onet_es", "fixedHajnal.onet_n",
       "fixedHajnal.onez_es", "fixedHajnal.onez_n",
       "fixedHajnal.twot_es", "fixedHajnal.twot_n",
       "fixedHajnal.twoz_es", "fixedHajnal.twoz_n", "fixedNAP.onet_es",
       "fixedNAP.onet_n", "fixedNAP.onez_es", "fixedNAP.onez_n",
       "fixedNAP.twot_es", "fixedNAP.twot_n", "fixedNAP.twoz_es",
       "fixedNAP.twoz_n", "HajnalBF_onet", "HajnalBF_onez",
       "HajnalBF_twot", "HajnalBF_twoz", "implement.SBFHajnal_onet",
       "implement.SBFHajnal_onez", "implement.SBFHajnal_twot",
       "implement.SBFHajnal_twoz", "implement.SBFNAP_onet",
       "implement.SBFNAP_onez", "implement.SBFNAP_twot",
       "implement.SBFNAP_twoz", "mycombine.fixed",
       "mycombine.seq.onesample", "mycombine.seq.twosample",
       "NAPBF_onet", "NAPBF_onez", "NAPBF_twot", "NAPBF_twoz",
       "SBFHajnal_onet", "SBFHajnal_onez", "SBFHajnal_twot",
       "SBFHajnal_twoz", "SBFNAP_onet", "SBFNAP_onez", "SBFNAP_twot",
       "SBFNAP_twoz")

import("parallel", "doParallel", "foreach")
importFrom("stats", "pnorm", "pt", "qt", "rbinom", "rnorm", "sd", "sigma",
           "var", "df", "dnorm")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("foreach", "foreach", "%dopar%")
importFrom("graphics", "abline", "points")